@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema do Rick e Morty.</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Montezano Corporations</a>.</p>
</div>
