@model List<EpisodioViewModel>

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Episodio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Rick and Morty Episodios</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Transmissão</th>
					<th>Episódio</th>
					<th>Criação</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var episodio in Model)
				{
					<tr>
						<td>@episodio.Nome</td>
						<td>@episodio.Transmissao</td>
						<td>@episodio.Episodio</td>
						<td>@episodio.Criacao</td>
					</tr>
				}
			</tbody>
		</table>
		}
	</div>
</body>
</html>
